@inherits Connected<State.Blueprint>
@code {
    protected override State.Blueprint Project(State.Game game) => game.Blueprint;
}

<div class="backdrop">
    <svg viewBox="0 0 1200 900">
        @foreach (var kvp in State.AllRooms)
        {
            var room = kvp.Value;
            <RoomView Path="@room.Path" IsCurrent="@(State.CurrentLocation == room)" IsAvailable="@(room.DoMove != null)" OnMove="@room.DoMove" />
        }
        @foreach (var door in State.AllDoors)
        {
            <path d="@door" stroke="white" stroke-width="10" />
        }
    </svg>
</div>